<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription aux événements</title> 
    <link rel="stylesheet" href="../assets/style.css">   
</head>
<body>
    <h1>Bienvennue sur mon site web pour les inscriptions aux événements</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdO8vq3VZ9rasTDoOgJD4eeJE1y3kf2YxTykOixk0ROQTvXKw/viewform?embedded=true" width="640" height="1719" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
</body>
</html>